h1 {
    color: hotpink;
    border: 4px solid plum;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    margin: 10px 500px 0 500px;
}

table {
    border: 2px solid black;
    width: 600px;
    height: 60px;
    margin: 20px 0 0 300px;
}
.purple{
    background-color: purple;
}
  .pick {
    text-align: center;
    height: 20vh;
    background-image: url(avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}